<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">
    <script src="./home.js" defer></script>
    <script src="./homeApi.js" defer></script>
</head>

<body>
    <header>
        <h1>Controle de Estoque</h1>
        <a href="home.html"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z"/></svg></a>
    </header>
    <nav>
        <ul class="container-menu">
            <li class="menu-title">Produtos</li>
            <div class="sub-menu">
                <a href="../components/produtos/cadastrarProduto.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../components/produtos/consultarProduto.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Clientes</li>
            <div class="sub-menu">
                <a href="../components/clientes/cadastrarCliente.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../components/clientes/consultarCliente.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Pedidos</li>
            <div class="sub-menu">
                <a href="../components/pedidos/cadastrarPedido.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../components/pedidos/consultarPedido.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
    </nav>
    <main>
        <div class="pessoas">
        </div>
        <div class="produtos"></div>
        <div class="documentos"></div>
    </main>
    <footer>
        <p>Projeto criado @2023</p>
    </footer>
</body>

</html>