<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
    <script src="scripts/login.js" defer></script>
</head>

<body>
    <header>
        <h1>Bem vindo a nossa Solução</h1>
    </header>
    <div>
        <form id="form">
            <div class="form">
                <h3>Faça seu login</h3>
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email">
                <label for='password'>Senha:</label>
                <input type="password" name="password" id="password">
                <button class="submit">Login</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Projeto criado @2023</p>
    </footer>
</body>

</html>