main {
    height: 82vh;
}
h3 {
    text-align: center;
}
input {
    border: none;
    border-radius: 4px;
    background-color: aqua;
}
button {
    border: none;
    border-radius: 6px;
    background-color: aqua;
    width: 80px;
    cursor: pointer;
}

form {
    max-width: 80%;
    margin: auto;
    gap: .5em;
    padding: 1em;
    
}
.container-cliente{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.container-endereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
/* .container-cliente{
    display: flex;
    align-items: center;
    justify-content: center;
} */
