main {
    height: 82vh;
}
h3 {
    text-align: center;
    padding-top: 10px;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input {
    display: flex;
    color: black;
    border: none;
    border-bottom:1px solid aqua;
    width: 300px;
}
button {
    border: none;
    margin: auto;
    border-radius: 6px;
    background-color: aqua;;
    width: 80px;
    cursor: pointer;
}
form {
    max-width: 80%;
    margin: auto;
    gap: .5em;
    padding: 1em;
    height: 100%;
}
.cliente.cadastrar{
    flex: 1;
    margin-top: 20px;
}
.container-cliente{
    display: flex;
    flex-direction: column;  
    margin: auto;
}
.container-principal,.container-endereco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    height: 100%;
    padding: 10px;
}
.error{
    margin: auto;
    color: red;
    text-align: center;
    border: 1px solid red;
}
.container-tipo-cliente label{
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

input[type=radio]{ 
   width: 12px;
}

