
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

:root {
    --cor-primaria:#1E1E24; /* Cor principal azul */
    --cor-secundaria: #ff6600; /* Cor secundária laranja */
    --cor-nav:#59B53F;
    --cor-nav-hover:#478E33;
    --cor-background-bordas:#76C95E;
    --cor-font:#fafdf9;
}
*{
    margin: 0;
    gap: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-font);
}
body{
    gap: 30px;
}

header {
    height: 10vh;
    background-color: var(--cor-background-bordas);
    width: 100%;
    display: flex;
    align-items: center;
}
header h1{
    margin-left: 2em;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--cor-nav);
}

.menu-title {
    cursor: pointer;
    height: 100%;
}
.menu-title:hover{
    background-color: var(--cor-nav-hover);
    color: var(--cor-font);
}

.sub-menu {
    display: none;
    position: absolute;
    width: 33.33%;
}
.active{
    font-weight: bold;
    z-index: 9999;
    background-color: var(--cor-nav-hover);
} 
li:hover{
    background-color: red;
}