:root {
    --cor-primaria:#1E1E24; /* Cor principal azul */
    --cor-secundaria: #ff6600; /* Cor secundária laranja */
    --cor-background-1:#5EB42D;
    --cor-bordas:#99FF87;
    --cor-background-bordas:#0C4E21;
}
*{
    margin: 0;
    gap: 0;
    box-sizing: border-box;
    list-style:none;
    outline: none;
}
body{
    gap: 30px;
}

header {
    height: 10vh;
    background-color: var(--cor-background-bordas);
    width: 100%;
    display: flex;
    align-items: center;
}
header h1{
    margin-left: 2em;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: #5EB42D;
}

.menu-title {
    cursor: pointer;
}
.sub-menu {
    display: none;
}
.active {
    font-weight: bold;
}