:root {
    --cor-primaria:#1E1E24; /* Cor principal azul */
    --cor-secundaria: #ff6600; /* Cor secundária laranja */
    --cor-background-1:#5EB42D;
    --cor-bordas:#99FF87;
    --cor-background-bordas:#0C4E21;
}

*{
    margin: 0;
    gap: 0;
    box-sizing: border-box;
    list-style:none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-background-1);
    color: var(--cor-primaria);
}
header{
    height: 10vh;
    background-color:var(--cor-background-bordas);
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 100%;
    height: 5vh;
}
ol{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: var(--cor-background-bordas);
    height: 10vh;
    width: 100%;
}
