
main{
    height: 75vh;
    
}
.adcionar-produto{

    border:1px solid #1E1E24;
    border-radius: 5px;
}

h3{
    text-align: center;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: max-content;
    margin: auto;
    gap: .5em;
    padding: 1em;
   
}