<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="../../layout/footer.css">
    <link rel="stylesheet" href="../../layout/header.css">
    <link rel="stylesheet" href="./cadastrarPedido.css">
    <script src="../../layout/home.js" defer></script>
    <script src="./cadastrarPedido.js" defer></script>
</head>
<body>
    <header>
        <h1>Novo Pedido:</h1>
        <a href="../../layout/home.html"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z"/></svg></a>
    </header>
    <nav>
        <ul class="container-menu">
            <li class="menu-title">Produtos</li>
            <div class="sub-menu">
                <a href="../produtos/cadastrarProduto.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../produtos/consultarProduto.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Clientes</li>
            <div class="sub-menu">
                <a href="./../clientes/cadastrarCliente.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../clientes/consultarCliente.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Pedidos</li>
            <div class="sub-menu">
                <a href="./cadastrarPedido.html">
                    <li>Cadastrar</li>
                </a>
                <a href="./consultarPedido.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
    </nav>
    <main>
        <div class="conteudo">
            <h3>Cadastro de Pedido</h3>
            <form action="">
                <div>
                    <label for="cliente">Cliente:</label>
                    <input type="text" name="cliente" id="cliente" list="sugestoes">
                    <ul id="sugestoes"></ul>
                    <div id="error"></div>
                </div>
                <label for="tipo">Tipo:
                    <select name="tipo" id="tipo">
                        <option value="entrada">Entrada</option>
                        <option value="saida" selected>Saída</option>
                    </select>
                </label>
                <div class="container-produtos">
                    <div class="container-produto">
                        <label for="produto">Nome:</label><input list="sugestoesProdutos" type="text" name="produto" id="produto"
                                placeholder="Codigo, Descrição ou Referência do produto">
                        
                        <label for="quantidade">Quantidade</label><input type="number" name="quantidade" id="quantidade"
                                placeholder="Quantidade">
                        <label for="valorUnit">Valor Unitário</label><input type="number" name="valorUnit" id="valorUnit"
                                placeholder="Valor unitario">
                        
                        <button onclick="insertProduto(event)" type="submit">Adicionar</button><button
                                type="button">Cancelar</button>
                    </div>
                    <ul id="sugestoesProdutos"></ul>
                    <div id="error-produto"></div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>Projeto criado @2023</p>
    </footer>
</body>

</html>