main{
    height: 82vh;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 100%;
    margin: auto;
    gap: .5em;
    padding: 1em;
}
input {
    border: none;
    border-bottom: 1px solid aqua;
    max-width: 100%;
}
button {
    border: none;
    border-radius: 6px;
    background-color: aqua;
    width: 80px;
    margin: auto;
    height: 20px;
    cursor: pointer;
}
table{
    display: grid; 
    border-radius: 6px;
    border: 1px solid #666;
    padding: 10px; 
}
thead{
    border-radius: 6px;
    border: 1px solid black;
}
tbody{
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}
tr:nth-child(even) {
    background-color: #ecf4f5;
}
tbody tr:nth-child(odd) {
    background-color: #a0e7f3;
}

tbody tr{
    border-radius: 6px;
    border: 1px solid #666;
}
td{
    text-align: right;
    margin-right: 10px;
}

tr {
    display: grid;
    grid-template-columns: .8fr 2fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 5px;
}
main ul{
    position: absolute;
    z-index: 99;
    width: 20em;
    border-radius: 4px;
}
li{
    background-color:var(--cor-nav);
}
.container-input-produto label {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
.container-input-produto{
    display: grid;
    margin: auto;
    padding: 5px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    border-radius: 6px;
    border: 1px solid #666;    
}
.container-input-produto ul{
    margin-top: 40px;
}
.container-cliente{
    border-radius: 6px;
    border: 1px solid #666;
    padding: 5px;
    display: inline-flex;
    justify-content: space-between;
}


.descricao , .referencia{
    text-align: left;
    margin-left: 10px; 
}

#valorTotal{
    width: max-content;
}

.container-enviar{
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #666;
    padding: 5px;
}

.button-adicionar{
    background-color: rgb(14, 163, 59);
    color: white;
}

.button-excluir{
    width: 60px;
    background-color: rgb(211, 23, 23);
    color: white;
}

.button-cancelar{
    background-color: rgb(211, 23, 23);
    color: white;
}