main{
    height: 82vh;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 100%;
    margin: auto;
    gap: .5em;
    padding: 1em;
    
}
input {
    border: none;
    border-bottom: 1px solid aqua;
    max-width: 100%;
}
button {
    border: none;
    border-radius: 6px;
    background-color: aqua;
    width: 80px;
    cursor: pointer;
}
table{
    display: grid; 
}
tr {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1fr 1fr .5fr;
}
main ul{
    position: absolute;
    z-index: 2;
    width: 20em;
    border-radius: 4px;
}
li{
    background-color:var(--cor-nav);
}

.container-input-produto{
    display: inline-flex;
}
.button-excluir{
    width: 80px;
}
.container-cliente{
    display: inline-flex;
    justify-content: space-between;
}
tbody{
    width: 100%;
    height: 300px;
    overflow: scroll;
}

tbody tr{
    border-radius: 6px;
    border: 1px solid red;
}
td{
    text-align: right;
    margin-right: 10px;
}
.descricao , .referencia{
    text-align: left;
    margin-left: 10px; 
}
#valorTotal{
    width: max-content;
}
.container-enviar{
    display: flex;
    justify-content: space-between;
}