<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Pedido</title>
    <link rel="stylesheet" href="../../layout/footer.css">
    <link rel="stylesheet" href="../../layout/header.css">
    <link rel="stylesheet" href="./cadastrarPedido.css">
    <script src="../../layout/home.js" defer></script>
    <script src="./cadastrarPedido.js" defer></script>
</head>
<body>
    <header>
        <h1>Novo Pedido</h1>
        <a href="../../layout/home.html"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z" />
            </svg></a>
    </header>
    <nav>
        <ul class="container-menu">
            <li class="menu-title">Produtos</li>
            <div class="sub-menu">
                <a href="../produtos/cadastrarProduto.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../produtos/consultarProdutos.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Clientes</li>
            <div class="sub-menu">
                <a href="./../clientes/cadastrarCliente.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../clientes/consultarClientes.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Pedidos</li>
            <div class="sub-menu">
                <a href="./cadastrarPedido.html">
                    <li>Cadastrar</li>
                </a>
                <a href="./consultarPedidos.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
    </nav>
    <main>
        <div class="conteudo">
            <form action="">
                <div class="container-cliente">
                    <div>
                        <label for="cliente">Cliente:</label>
                        <input type="text" name="cliente" id="cliente">
                        <ul id="sugestoes"></ul>
                        <div id="error"></div>
                    </div>
                    <div><label for="dataEmissao">Data de Emissão: <input type="date" name="dataEmissao" id="dataEmissao" readonly></label></div>
                    <label for="tipo">Tipo:
                        <select name="tipo" id="tipo" type>
                            <option value="E">Entrada</option>
                            <option value="S" selected>Saída</option>
                        </select>
                    </label>
                </div>
                <div class="container-enviar">
                    <label for="valorPedido">Valor Total: <input id="valorTotal" name="valorPedido" readonly/></label>
                    <button id="buttonCadastrar" type="button" class="button-cadastrar">Cadastrar</button>
                </div>
                <div class="container-inputs">
                    <div class="container-input-produto">
                        <label for="produto">Nome:<input list="sugestoesProdutos" type="text" name="produto"
                            id="produto" placeholder="Codigo, Descrição ou Referência do produto">
                            <ul id="sugestoesProdutos"></ul></label>
                        <label for="quantidade">Quantidade<input type="number" name="quantidade" id="quantidade"
                            placeholder="Quantidade"></label>
                        <label for="valorUnit">Valor Unitário<input type="number" name="valorUnit"
                            id="valorUnit" placeholder="Valor unitario"></label>
                        <button onclick="insertProduto(event)" type="submit" class="button-adicionar">Adicionar</button><button
                            type="button" class="button-cancelar">Cancelar</button>
                    </div>
                    <div id="errorProduto"></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Referência</th>
                            <th>Quantidade</th>
                            <th>Valor Unitário</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="container-produtos">

                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <footer>
        <p>Projeto criado @2023</p>
    </footer>
</body>

</html>