<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="../../layout/footer.css">
    <link rel="stylesheet" href="../../layout/header.css">
    <script src="../../layout/home.js" defer></script>
    <script src="./cadastrarPedido.js" defer></script>
</head>
<body>
    <header>
        <h1>Novo Pedido:</h1>
        <a href="../../layout/home.html"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z"/></svg></a>
    </header>
    <nav>
        <ul class="container-menu">
            <li class="menu-title">Produtos</li>
            <div class="sub-menu">
                <a href="../produtos/cadastrarProduto.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../produtos/consultarProduto.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Clientes</li>
            <div class="sub-menu">
                <a href="./../clientes/cadastrarCliente.html">
                    <li>Cadastrar</li>
                </a>
                <a href="../clientes/consultarCliente.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
        <ul class="container-menu">
            <li class="menu-title">Pedidos</li>
            <div class="sub-menu">
                <a href="./cadastrarPedido.html">
                    <li>Cadastrar</li>
                </a>
                <a href="./consultarPedido.html">
                    <li>Consultar</li>
                </a>
            </div>
        </ul>
    </nav>
    <main>
        <div class="conteudo">
            
        </div>
    </main>
    <footer>
        <p>Projeto criado @2023</p>
    </footer>
</body>

</html>