main {
    height: 82vh;
}

h3 {
    text-align: center;
    margin: auto;
}

input {
    border: none;
    border-bottom: 1px solid aqua;
}

button {
    border: none;
    border-radius: 6px;
    background-color: aqua;
    width: 60px;
    cursor: pointer;
}
.button-excluir{
    background-color: rgb(211, 23, 23);
    color: white;
}

.button-editar{
    color: white;
}

form {
    display: flex;
    flex: 1;
    max-width: 80%;
    max-height: 80%;
    height: 100%;
    margin: auto;
    gap: .5em;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

table {
    display: grid;
    border-radius: 6px;
    border: 1px solid #666;
    padding: 10px;
    max-width: 80%;
    margin: auto;
}
thead{
    border-radius: 6px;
    border: 1px solid black;
}
tr {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    margin-top: 5px;
    border-radius: 6px;
}
tr:nth-child(even) {
    background-color: #ecf4f5;
}
tbody tr:nth-child(odd) {
    background-color: #a0e7f3;
}
tbody {
    max-height: 400px;
    overflow-y: auto;
}

td {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px;
}